@use "src/common/styles" as *;

.nav-regular {
  color: $cl-blue !important;
  background-color: white;
}

.nav-regular-no-shadow {
  color: $cl-blue !important;
  background-color: white;
}

.nav-transparent {
  color: white;
  background-color: transparent;
}

.signUpBtn {
  transition: 300ms;
  background-color: #f7bc76;
  color: black;
  &:hover {
    color: white;
    background-color: rgb(255, 130, 92);
  }
}
