@use "src/common/styles" as *;

.ecsummary-info-section {
  @extend .py-3;
  border-bottom: 2px solid $cl-light-gray;
  width: 95.5%;
  display: flex;
  align-self: center;
  .name {
    @extend .cl-mid-gray;
    font-size: 0.9em;
    width: 20%;
  }
  .value {
    @extend .cl-dark-text;
  }
}
.ecsummary-info-container {
  div:last-of-type {
    border-bottom: none;
  }
}
.qsummary-card-container {
  border: 1px solid $cl-secondary-text;
  border-radius: 20px;
  .question-text {
    @extend .cl-dark-text;
    font-weight: bold;
    font-size: 1.1em;
  }
  .icon-btn {
    background-color: transparent;
    outline: none;
    border: 1px solid transparent;
    width: 3.5em;
    height: 3.5em;
    border-radius: 1.75em;
    &:hover {
      background-color: rgba($color: $cl-light-gray, $alpha: 0.5);
    }
  }
}
