@import "src/common/styles/global-styles.scss";
@import "node_modules/bootstrap/scss/bootstrap";
@import "src/common/styles/palette.scss";
@import "src/common/styles/typography.scss";

.article-btn {
  outline: none;
  color: $cl-blue;
  width: fit-content;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  &:hover {
    background-color: rgba($color: $cl-blue, $alpha: 15%);
  }
}
