@use "src/common/styles" as *;

.myaccount-info-section {
  font-size: 0.9em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba($color: $cl-mid-gray, $alpha: 0.3);
  .name {
    display: flex;
    color: $cl-mid-gray;
    font-size: 0.85em;
    font-weight: 600;
    flex: 0.8;
  }
  .info-container {
    @extend .cl-dark-text;
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    flex: 2;
    .icon-btn {
      background-color: transparent;
      outline: none;
      border: 1px solid transparent;
      width: 3vw;
      height: 3vw;
      border-radius: 1.5vw;
      &:hover {
        background-color: rgba($color: $cl-light-gray, $alpha: 0.5);
      }
    }
  }
  .send-email-btn {
    outline: none;
    border: none;
    color: white;
    background-color: $cl-dark-text;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 200ms;
    &:hover {
      cursor: pointer;
      background-color: rgba($color: $cl-dark-text, $alpha: 0.7);
    }
  }
  .send-email-btn-sent {
    outline: none;
    border: none;
    color: white;
    background-color: green;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 200ms;
  }
}
