@import "src/common/styles/global-styles.scss";
@import "src/common/styles/palette.scss";

@import "node_modules/bootstrap/scss/bootstrap";

.resources-tab-pane {
  @extend .container-fluid;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.resources-active {
  @extend .resources-tab-pane;
  display: flex;
}
.general-tab-nav-btn {
  transition: 500ms;
  outline: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  border: 1px solid transparent;
  border-radius: 2.5px;
  &:hover {
    cursor: pointer;
    background: rgba($color: #000000, $alpha: 0.1);
  }
}
.resources-tab-nav-btn {
  @extend .px-4;
  @extend .mx-3;
  @extend .py-2;
  transition: 500ms;
  outline: none;
  color: $cl-dark-text;
  font-weight: 700;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  border: 1px solid transparent;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background: rgba($color: #000000, $alpha: 0.1);
  }
}
.search-container {
  @extend .px-2;
  @extend .py-1;
  @extend .mt-3;
  border: 2px solid rgba($color: #000000, $alpha: 0.1);
  border-radius: 10px;
  min-width: fit-content;
  width: 25vw;
  .search-input {
    width: 18vw;
    @extend .py-1;
    &:active,
    &:focus {
      box-shadow: none;
      border: none;
      outline: none;
    }
    font-size: 1.1em;
    border: none;
  }
}
