@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./globals.scss";

//RESOURCES PAGE STYLES -->
.resources-tab-pane {
  @extend .container-fluid;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.resources-active {
  @extend .resources-tab-pane;
  display: flex;
}
.general-tab-nav-btn {
  transition: 500ms;
  outline: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  border: 1px solid transparent;
  border-radius: 2.5px;
  &:hover {
    cursor: pointer;
    background: rgba($color: #000000, $alpha: 0.1);
  }
}
.resources-tab-nav-btn {
  @extend .px-4;
  @extend .mx-3;
  @extend .py-2;
  transition: 500ms;
  outline: none;
  color: $cl-dark-text;
  font-weight: 700;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  border: 1px solid transparent;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background: rgba($color: #000000, $alpha: 0.1);
  }
}
.search-container {
  @extend .px-2;
  @extend .py-1;
  @extend .mt-3;
  border: 2px solid rgba($color: #000000, $alpha: 0.1);
  border-radius: 10px;
  min-width: fit-content;
  width: 25vw;
  .search-input {
    width: 18vw;
    @extend .py-1;
    &:active,
    &:focus {
      box-shadow: none;
      border: none;
      outline: none;
    }
    font-size: 1.1em;
    border: none;
  }
}
//LANDING PAGE STYLES -->
.landing-page-white-text,
.landing-page-white-text p {
  color: $cl-white;
}

.landing-page-gray-text p {
  color: $cl-light-gray;
}
.landing-update-button {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border-width: 0;
  color: black;
  padding-left: calc(1.5em + 10px);
  padding-right: 1.5em;
  max-lines: 1;
  max-width: 75vw;
  transform: translate(-15px, 0);
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
#landing-main {
  background-image: url("/images/landing_bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 999;
  height: 100%;
  @media (min-width: 992px) {
    height: 100vh;
  }
}
@include media-breakpoint-up(lg) {
  .feature-tabbar {
    transform: translate(0, -5em);
    margin-bottom: -5em;
  }
}

.feature-tabbar {
  border-radius: 10px;
}

.feature-tab {
  cursor: pointer;
  padding: 1em;
  margin: 0.5em;
  border: 2px solid;
  border-radius: 12px;
}
//MY ACCOUNT PAGE STYLES -->
.myaccount-info-section {
  font-size: 0.9em;
  @extend .pt-1;
  @extend .pb-3;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba($color: $cl-mid-gray, $alpha: 0.3);
  .name {
    display: flex;
    color: $cl-mid-gray;
    font-size: 0.85em;
    font-weight: 600;
    flex: 0.8;
  }
  .info-container {
    @extend .cl-dark-text;
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    flex: 2;
    .icon-btn {
      background-color: transparent;
      outline: none;
      border: 1px solid transparent;
      width: 3vw;
      height: 3vw;
      border-radius: 1.5vw;
      &:hover {
        background-color: rgba($color: $cl-light-gray, $alpha: 0.5);
      }
    }
  }
}
.myaccount-blob {
  @extend .px-4;
  @extend .py-4;
  @extend .mb-3;
  border: 1px solid rgba($color: $cl-mid-gray, $alpha: 0.3);
  border-radius: 20px;
  height: fit-content;
  .title {
    @extend .cl-dark-text;
    font-size: 1em;
    font-weight: 600;
  }
  div:last-of-type {
    border-bottom: none;
  }
}
@media screen and (max-width: 800px) {
  .myaccount-blob {
    width: 65vw;
  }
}

//SIGN UP AND LOGIN PAGE STYLES -->
.auth-bottom-nav {
  @extend .mt-3;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.split-input {
  width: 47%;
}
.forgot-password-btn {
  color: $cl-mid-gray;
  font-weight: 600;
  font-size: 0.8em;
}
//LEARNING PATHWAYS STYLES -->
.pathway-description {
  @extend .pb-2;
  width: 90%;
  border-bottom: 1px solid rgba($color: $cl-mid-gray, $alpha: 0.7);
}
.bottom-border-pathway-filter {
  margin-bottom: calc($spacer * 0.5 - 1px);
}
//METRICS PAGE STYLES -->
.metrics-tier-range {
  @extend .py-2;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
}
.metrics-dropdown-menu-closed {
  background-color: $cl-white;
  display: flex;
  border: none;
  flex-direction: column;
  overflow: hidden;
  max-height: 0;
  animation-name: metrics-close;
  animation-duration: 600ms;
}
@keyframes metrics-close {
  0% {
    max-height: 80vh;
    overflow: visible;
    background-color: $cl-super-light-gray;
    border: 1px solid $cl-soft-gray;
  }
  100% {
    max-height: 0;
    background-color: $cl-white;
    border: 0px solid $cl-soft-gray;
    overflow: hidden;
  }
}
@keyframes metrics-expand {
  0% {
    max-height: 0;
    overflow: hidden;
    background-color: $cl-white;
    border: 0px solid $cl-soft-gray;
  }
  100% {
    max-height: 100vh;
    background-color: $cl-super-light-gray;
    border: 1px solid $cl-soft-gray;
    overflow: visible;
  }
}
.metrics-dropdown-menu-expanded {
  background-color: $cl-super-light-gray;
  @extend .soft-gray-border;
  display: flex;
  flex-direction: column;
  animation-name: metrics-expand;
  animation-duration: 600ms;
}
.metrics-dropdown-btn {
  @extend .cl-dark-text;
  @extend .px-3;
  @extend .py-3;
  .icon-close {
    animation-name: rotateReverse;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
  }
  @keyframes rotateReverse {
    0% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
  .icon-open {
    animation-fill-mode: forwards;
    animation-name: rotate;
    animation-duration: 600ms;
  }
  @extend .soft-gray-border;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
  &:active,
  &:focus,
  &:checked {
    box-shadow: none;
    @extend .soft-gray-border;
    background-color: white;
    @extend .cl-dark-text;
  }
  &:hover,
  &:active:hover {
    box-shadow: none;
    @extend .soft-gray-border;
    background-color: white;
    @extend .cl-dark-text;
  }
}
