$cl-white: #ffffff;
$cl-translucent-white: #ffffff66;
$cl-light-blue: #d9e1fc;
$cl-blue: #2651ed;
$cl-dark-blue: #0b1142;
$cl-dark-text: #070452;
$cl-light-gray: #f2f2f7;
$cl-mid-gray: #656565;
$cl-secondary-text: #b7b7b7;
$cl-dark-gray: #222222;
$cl-black: #000000;
$cl-orange: #f7bc76;
$font-family-base: "Montserrat", sans-serif;
$cl-yellow: #f7bc76;
$cl-red: #ff6060;
$cl-purple: #58508d;
$cl-pink-purple: #bc5090;
$cl-orange-red: #ff6361;
$cl-light-yellow: #f8e74c;
$cl-soft-gray: #e0dfe8;
$cl-super-light-gray: #fbfcff;
