@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./globals.scss";

.mcq-answer-btn {
  @extend .py-3;
  @extend .cl-dark-text;
  @extend .my-2;
  @extend .ps-4;
  font-weight: bold;
  font-size: 1em;
  text-align: start;
  width: 90%;
  background-color: $cl-light-gray;
  outline: none;
  border-radius: 15px;
  border: 1px solid transparent;
  &:hover {
    background-color: rgba($color: $cl-mid-gray, $alpha: 0.2);
  }
}
.mcq-answer-btn-selected {
  @extend .mcq-answer-btn;
  background-color: $cl-orange;
  &:hover {
    background-color: $cl-orange;
  }
}
.checkbox-mcq-variant {
  @extend .mcq-answer-btn;
  @extend .px-4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox-mcq-variant-selected {
  @extend .checkbox-mcq-variant;
  background-color: $cl-orange;
  &:hover {
    background-color: $cl-orange;
  }
}
.checkbox-container {
  @extend .center-child;
  width: 2vw;
  height: 2vw;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 1vw;
  &:hover {
    background-color: rgba($color: $cl-mid-gray, $alpha: 0.2);
    cursor: pointer;
  }
  .checkbox {
    @extend .center-child;
    background-color: transparent;
    border: 3px solid $cl-mid-gray;
    height: 1vw;
    width: 1vw;
  }
  .checkbox-true {
    @extend .checkbox;
    background-color: $cl-blue;
    border-color: $cl-blue;
  }
}
//Question Summary Card COMPONENT STYLES -->
.qsummary-card-container {
  border: 1px solid $cl-secondary-text;
  border-radius: 20px;
  .question-text {
    @extend .cl-dark-text;
    font-weight: bold;
    font-size: 1.1em;
  }
  .icon-btn {
    background-color: transparent;
    outline: none;
    border: 1px solid transparent;
    width: 3.5em;
    height: 3.5em;
    border-radius: 1.75em;
    &:hover {
      background-color: rgba($color: $cl-light-gray, $alpha: 0.5);
    }
  }
}
//EC Editor COMPONENT STYLES -->
.ec-editor-btn-back {
  @extend .center-child;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 36px;
  padding: 20px;
  position: absolute;
  transition: background-color 200ms;
  top: 2vh;
  left: 2vw;
  width: 72px;
  height: 72px;
  &:hover {
    background-color: rgba($color: $cl-light-gray, $alpha: 0.5);
  }
}
//EC Dropdown COMPONENT STYLES -->
.ec-dropdown-btn {
  @extend .cl-mid-gray;
  @extend .px-3;
  @extend .py-3;
  .icon-close {
    animation-name: rotateReverse;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
  }
  @keyframes rotateReverse {
    0% {
      color: $cl-blue;
      transform: rotate(180deg);
    }
    100% {
      color: $cl-mid-gray;
      transform: rotate(0deg);
    }
  }
  @keyframes rotate {
    0% {
      color: $cl-mid-gray;
      transform: rotate(0deg);
    }
    100% {
      color: $cl-blue;
      transform: rotate(180deg);
    }
  }
  .icon-open {
    animation-fill-mode: forwards;
    animation-name: rotate;
    animation-duration: 600ms;
  }
  border: 1px solid $cl-light-gray;
  background-color: $cl-light-gray;
  border-radius: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
  &:active,
  &:focus,
  &:checked {
    box-shadow: none;
    border: 1px solid $cl-light-gray;
    background-color: $cl-light-gray;
    @extend .cl-mid-gray;
  }
  &:hover,
  &:active:hover {
    box-shadow: none;
    border: 1px solid $cl-light-gray;
    background-color: $cl-light-gray;
    @extend .cl-mid-gray;
  }
}
.ec-dropdown-menu {
  z-index: 1000;
  div:first-of-type {
    border: 1px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  div:last-of-type {
    border: 1px solid transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  border: 1px solid transparent;
  border-radius: 10px;
  right: 0;
  box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08),
    0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03),
    0px 1px 3px rgba(19, 10, 46, 0.13);
  width: 40%;
  max-height: 30vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: $cl-light-gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $cl-mid-gray;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba($color: $cl-mid-gray, $alpha: 0.7);
  }
  background-color: white;
  .ec-dropdown-item {
    @extend .py-2;
    @extend .px-3;
    @extend .cl-dark-text;
    outline: none;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    font-size: 0.95em;
    font-weight: 500;
    transition: background-color 200ms;
    &:hover {
      @extend .bg-light-gray;
      cursor: pointer;
    }
  }
  .ec-dropdown-item-picked {
    @extend .dropdown-item;
    @extend .px-3;
    @extend .py-2;
    font-size: 0.95em;
    color: white;
    font-weight: 500;
    transition: background-color 200ms;
    background-color: $cl-blue;
    &:hover {
      color: $cl-blue;
      cursor: pointer;
      color: $cl-blue;
    }
  }
}
//EC Text Input COMPONENT STYLES -->
.ec-text-input {
  @extend .bg-light-gray;
  width: 100%;
  border: 1px solid $cl-light-gray;
  &:active,
  &:focus {
    @extend .bg-light-gray;
    border: 1px solid $cl-light-gray;
  }
}
//EC Question Summary Card COMPONENT STYLES -->
.ecsummary-info-section {
  @extend .py-3;
  border-bottom: 2px solid $cl-light-gray;
  width: 95.5%;
  display: flex;
  align-self: center;
  .name {
    @extend .cl-mid-gray;
    font-size: 0.9em;
    width: 20%;
  }
  .value {
    @extend .cl-dark-text;
  }
}
.ecsummary-info-container {
  div:last-of-type {
    border-bottom: none;
  }
}
//EC Calendar Drop Down COMPONENT STYLES -->
.day-btn {
  @extend .center-child;
  outline: none;
  border: 1px solid white;
  height: 45px;
  width: 45px;
  border-radius: 22.5px;
  background-color: white;
  transition: background-color 200ms;
  &:hover {
    background-color: $cl-light-gray;
  }
}
.day-btn-chosen {
  @extend .day-btn;
  color: white;
  background-color: $cl-blue;
  &:hover {
    background-color: rgba($color: $cl-blue, $alpha: 0.6);
  }
}
.weekday-titles {
  font-weight: bold;
  width: 45px;
  height: 45px;
  text-align: center;
}
.ec-calendar-dropdown-menu {
  width: 100%;
  border: 1px solid transparent;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08),
    0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03),
    0px 1px 3px rgba(19, 10, 46, 0.13);
}

.questionnaire-slider::-webkit-slider-thumb {
  background: $cl-blue;
}
.questionnaire-slider::-moz-range-thumb {
  background: $cl-blue;
}
.questionnaire-slider::-ms-thumb {
  background: $cl-blue;
}

.questionnaire-slider {
  background: $cl-mid-gray;
  position: relative;
  top: -4px;
  left: 4px;

  background: -moz-linear-gradient(left, $cl-mid-gray 0%, $cl-mid-gray 100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, $cl-mid-gray),
    color-stop(100%, $cl-mid-gray)
  );
  background: -webkit-linear-gradient(left, $cl-mid-gray 0%, $cl-mid-gray 100%);
  background: -o-linear-gradient(left, $cl-mid-gray 0%, $cl-mid-gray 100%);
  background: -ms-linear-gradient(left, $cl-mid-gray 0%, $cl-mid-gray 100%);
  background: linear-gradient(left, $cl-mid-gray 0%, $cl-mid-gray 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$cl-mid-gray, endColorstr=$cl-mid-gray,GradientType=1 );

  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
