@use "src/common/styles" as *;

.mainTierContainer {
    background: #eeeff0;
    box-shadow: 0px 2px 22px 9px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    max-width: 416px;
    padding: 30px;
}

.tierHeader {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.cardContainer {
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 15px;
    div {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: space-between;

        div {
            border: 1px solid rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            display: flex;
            max-width: max-content;
            justify-content: center;
            padding: 4px;
            span {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #0B1142;
                text-align: center;
            }
        }
    }
}
.collegeName {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #2651ed;
    max-width: 260px;
}
.seeDetailsLink{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0B1142;
    text-align: center;
}