@import "src/common/styles/global-styles.scss";
@import "node_modules/bootstrap/scss/bootstrap";

.auth-bottom-nav {
  @extend .mt-3;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.split-input {
  width: 47%;
}
