@import "src/common/styles/global-styles.scss";
@import "src/common/styles/palette.scss";

@import "node_modules/bootstrap/scss/bootstrap";
@import "src/common/styles/palette.scss";
@import "src/common/styles/typography.scss";

.progress-dropdown-container {
  transition: height 1s;
  height: fit-content;
}
.progress-dropdown-btn {
  @include button-size(
    $padding-x: 1vw,
    $padding-y: 2.5vh,
    $font-size: 0.9em,
    $border-radius: 0
  );
  .text {
    font-weight: bold;
    font-size: 1.25em;
    .percentage {
      font-weight: normal;
      color: $cl-secondary-text;
      font-size: 0.85em;
      @extend .ms-3;
    }
  }
  .icon-close {
    animation-name: rotateReverse;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
  }
  @keyframes rotateReverse {
    0% {
      color: $cl-blue;
      transform: rotate(180deg);
    }
    100% {
      color: $cl-mid-gray;
      transform: rotate(0deg);
    }
  }
  @keyframes rotate {
    0% {
      color: $cl-mid-gray;
      transform: rotate(0deg);
    }
    100% {
      color: $cl-blue;
      transform: rotate(180deg);
    }
  }
  .icon-open {
    animation-fill-mode: forwards;
    animation-name: rotate;
    animation-duration: 600ms;
  }
  background-color: $cl-light-gray;
  border: none;
  border-top: 2px solid rgba($color: $cl-secondary-text, $alpha: 0.7);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
  &:active,
  &:focus,
  &:checked {
    box-shadow: none;
  }
  &:hover,
  &:active:hover {
    box-shadow: none;
  }
}
