@use "src/common/styles" as *;

.mcq-answer-btn {
  @extend .cl-dark-text;
  font-weight: bold;
  font-size: 1em;
  text-align: start;
  width: 90%;
  background-color: $cl-white;
  outline: none;
  border-radius: 10px;
  border: 1px solid $cl-mid-gray;
  transition: 200ms;
  &:hover {
    background-color: rgba($color: $cl-mid-gray, $alpha: 0.2);
  }
}

.checkbox-mcq-variant {
  @extend .mcq-answer-btn;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox-mcq-variant-selected {
  @extend .checkbox-mcq-variant;
  background-color: rgba($color: $cl-blue, $alpha: 0.2);
  border-color: $cl-blue;
  transition: 200ms;
  &:hover {
    background-color: rgba($color: $cl-blue, $alpha: 0.1);
  }
}
