@use "src/common/styles" as *;
@use "node_modules/bootstrap/scss/bootstrap" as *;

.card-task-container {
  transition: all 200ms ease-in-out, padding-bottom 0ms, padding-top 0ms;
}
.card-task-container:hover {
  @extend .shadow;
  @extend .bg-cl-white;
  @extend .py-2;
  transition: all 200ms ease-in-out;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  position: absolute;
  z-index: 1000;
}
.new-card-task-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
  transition: 200ms;
}
.new-card-task-container:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 10px;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .card-task-container {
    width: 200px;
  }
}
@media screen and (max-width: 800px) {
  .card-task-container {
    width: 120px;
  }
}
