@use "src/common/styles" as *;

.day-btn {
  @extend .center-child;
  outline: none;
  border: 1px solid white;
  height: 45px;
  width: 45px;
  border-radius: 22.5px;
  background-color: white;
  transition-property: background-color;
  transition-duration: 200ms;
  &:hover {
    background-color: $cl-light-gray;
  }
}
.day-btn-chosen {
  @extend .day-btn;
  color: white;
  background-color: $cl-blue;
  &:hover {
    background-color: rgba($color: $cl-blue, $alpha: 0.6);
  }
}
.weekday-titles {
  font-weight: bold;
  width: 45px;
  height: 45px;
  text-align: center;
}
.calendar-dropdown-menu {
  width: 100%;
  border: 1px solid transparent;
  background-color: white;
  border-radius: 10px;
}
