@import "src/common/styles/global-styles.scss";
@import "src/common/styles/palette.scss";

@import "node_modules/bootstrap/scss/bootstrap";
@import "src/common/styles/palette.scss";
@import "src/common/styles/typography.scss";

.question-subpage-title {
  font-weight: 800;
  color: $cl-dark-text;
  font-size: 2.2em;
  height: fit-content;
  .sub-text {
    font-size: 0.4em;
    font-weight: normal;
    color: $cl-mid-gray;
  }
}
