@use "src/common/styles" as *;

.chatbot-loading {
  font-weight: bold;
  display: inline-block;
  font-family: monospace;
  font-size: 0.95em;
  clip-path: inset(0 3ch 0 0);
  animation: l 1s steps(4) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
.message-scroll {
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: $cl-light-gray;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba($color: $cl-mid-gray, $alpha: 0.6);
    border-radius: 10px;
    &:hover {
      background: rgba($color: $cl-mid-gray, $alpha: 0.4);
    }
  }
}
