@use "../../../../../../common/styles/palette.module.scss" as *;

.gridContainer {
   flex: 1 1 auto;
   padding: 0;
   padding-left: 20px;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 30px 1fr;
   width:100%;
   height:100%;
   margin-top: 2.5rem;

   & .subHeading{
      font-size:22px;
      color:white;
      font-weight:bold;
   }
}

.gridItem {
   &:first-child {
      grid-area: 2 / 1 / 3 / 2;   
   }
   &:nth-child(2) {
      grid-area: 1 / 1 / 2 / 2;
   }
}

.flexContainer{
   display:flex;
   flex-direction:column;
   justify-content:center;
   height:100%;
   flex: 0 0 auto;
   flex-basis: 60%;
   gap: 10px;

   & .flexItem:first-child {
      flex: 0 1 auto;
   }
   
   & .flexItem:last-child {
      flex: 0 1 20%;
      height: 100%;
   }


   & img{
      min-width: 0;
      aspect-ratio: 3/2;
      width:100%;
      border-radius: 10px;
   }
   
   & .tryNow{
      border: unset;
      font-size: large;
      width: 100%;
      border-radius: 4px;
      font-weight: bold;
   }
}

.newIcon{
   // color: white;
   // background:linear-gradient(90deg, $cl-blue 0%, $cl-orange 100%);
   color: $cl-white;
   background: $cl-orange;
   width:fit-content;
   padding: 0 15px;
   border-radius:15px;
   font-size:15px;
   display: block;
   font-weight:bold;
}