@use "src/common/styles" as *;

.questionnaire-slider::-webkit-slider-thumb {
  background: $cl-blue;
  z-index: 100;
}
.questionnaire-slider::-moz-range-thumb {
  background: $cl-blue;
  z-index: 100;
}
.questionnaire-slider::-ms-thumb {
  background: $cl-blue;
  z-index: 100;
}

.questionnaire-slider {
  position: relative;
  width: 100%;
  top: -4px;
  left: 4px;
  border: none;
}
