@use "src/common/styles" as *;

.myFavHeader {
  width: 215px;
  height: 36px;
  margin-top: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #0b1142;
}
