@use "src/common/styles" as *;

.myFavHeader {

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #0b1142;
}

.myFavDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: flex-start;
}
