@import "src/common/styles/global-styles.scss";
@import "node_modules/bootstrap/scss/bootstrap";
@import "src/common/styles/palette.scss";
@import "src/common/styles/typography.scss";

.card-title {
  @extend .ms-3;
  @extend .mt-3;
  font-weight: 900;
  font-size: 2.25em;
}
.card-container {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}
