.mainContainer {
  padding: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  background: #f9faff;
  padding-left: 112px;
  h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    color: #070452;
  }
}
@media only screen and (max-width: 600px) {
  .mainContainer {
    padding-left: 20px;
  }
}
.BlogCaroselItemMainDiv {
  background-color: #ffffff;
}
