@use "src/common/styles/global-styles" as global-styles;
@use "src/common/styles/palette" as palette;

.dashboard-dropdown-hover {
  // @extend bootstrap.;
  // @extend bootstrap.py-2;
  // @extend bootstrap.mt-3;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: 200ms;
  background-color: transparent;
}
.dashboard-dropdown-hover:hover {
  background-color: palette.$cl-light-gray;
}
