@import "../node_modules/bootstrap/scss/bootstrap";
@import "./globals.scss";

@mixin gradient-text($fromColor, $toColor) {
  background: -webkit-linear-gradient(left, $fromColor, $toColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

//CARD COMPONENT STYLES -->
.card-title {
  @extend .ms-3;
  @extend .mt-3;
  @include gradient-text($fromColor: #ff6060, $toColor: #2651ed);
  font-weight: 900;
  font-size: 2.25em;
}
.card-container {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}
