@import "../node_modules/bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  height: 100%;
  width: 100vw;
}

$cl-white: #ffffff;
$cl-translucent-white: #ffffff66;
$cl-light-blue: #d9e1fc;
$cl-blue: #2651ed;
$cl-dark-blue: #0b1142;
$cl-darktext: #070452;
$cl-light-gray: #f2f2f7;
$cl-mid-gray: #656565;
$cl-dark-gray: #222222;
$cl-black: #000000;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-dark-blue {
  background-color: $cl-dark-blue;
}
.bg-light-blue {
  background-color: $cl-light-blue;
}

.cl-white {
  color: $cl-white;
}
.cl-translucent-white {
  color: $cl-translucent-white;
}
.cl-blue {
  color: $cl-blue;
}
.cl-mid-gray {
  color: $cl-mid-gray;
}
.cl-light-gray {
  color: $cl-light-gray;
}
.cl-darktext {
  color: $cl-darktext;
}
.cl-black {
  color: $cl-black;
}

.center-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cl-btn-gray {
  @extend .cl-btn;
  background-color: $cl-light-gray;
  color: $cl-darktext;
  border: 1px solid $cl-light-gray;
}

.cl-btn {
  @include button-size(
    $padding-x: 1.5vw,
    $padding-y: 1.5vh,
    $font-size: 0.9em,
    $border-radius: 15px
  );
  box-shadow: none;
  &:active,
  &:focus,
  &:checked {
    box-shadow: none;
  }
  &:hover,
  &:active:hover {
    box-shadow: none;
    filter: brightness(130%);
  }
}

.cl-btn-blue {
  @extend .cl-btn;
  background-color: $cl-blue;
  border: 1px solid $cl-blue;
}



input[type="text"],
input[type="email"],
input[type="password"] {
  @extend .px-3;
  @extend .py-3;
  border-radius: 15px;
  &:active,
  &:focus {
    box-shadow: none;
  }
}
.auth-bottom-nav {
  @extend .mt-3;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.split-input {
  width: 47%;
}
.forgot-password-btn {
  color: $cl-mid-gray;
  font-weight: 600;
  font-size: 0.8em;
}

.resources-tab-nav-btn {
  transition: 500ms;
  outline: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  border: 1px solid transparent;
  border-radius: 2.5px;
  &:hover {
    cursor: pointer;
    background: rgba($color: #000000, $alpha: 0.1);
  }
}

.landing-page-white-text,
.landing-page-white-text p {
  color: $cl-white;
}

.landing-page-gray-text p {
  color: $cl-light-gray;
}

h1 {
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none !important;
}

.w-60 {
  max-width: 60%;
}

.footer {
  background-color: pink;
  margin-top: auto;
}

.resources-tab-pane {
  @extend .container-fluid;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.resources-active {
  @extend .resources-tab-pane;
  display: flex;
}
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: $spacer,
  4: (
    $spacer * 1.5,
  ),
  5: (
    $spacer * 3,
  ),
  6: (
    $spacer * 5,
  ),
  7: (
    $spacer * 10,
  ),
);

.nav-regular{
  @extend .shadow-sm;
  @extend .navbar-light;
  color: $cl-blue !important;
  background-color: white;
  
}

.nav-transparent{
  @extend .navbar-dark;
  color: white;
  background-color: transparent
}


.landing-update-button{
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border-width: 0;
  color: black;
  padding-left: calc(1.5em + 10px);
  padding-right: 1.5em;
  max-lines: 1;
  max-width: 75vw;
  transform: translate(-15px, 0);
  &:hover{
    background-color: rgba(255, 255, 255, 0.6);
    color:black;
  }
}

#landing-main{
  background-image: url('/images/landing_bg.svg');
  background-position: 'center';
  background-size: 'cover';
  background-repeat: 'no-repeat';
  z-index:999;
  height: 100%;
  @media (min-width: 992px) {
    height: 100vh;
  }
}

.feature-tabbar{
  border-radius: 10px;
}



.feature-tab{
  cursor: pointer;
  padding: 1em;
  margin: 0.5em;
  border: 2px solid ;
  border-radius: 12px;
}

@include media-breakpoint-up(lg){
  .feature-tabbar{
    transform: translate(0, -5em);
    margin-bottom: -5em;
  }
}