

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

$cl-blue      : #2651ED;
$cl-darktext  : #070452;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.cl-blue{
  color: $cl-blue;
}

.cl-darktext{
  color: $cl-darktext
}



