@import "../node_modules/bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}
div,
button {
  font-family: "Montserrat", sans-serif;
}
$cl-white: #ffffff;
$cl-translucent-white: #ffffff66;
$cl-light-blue: #d9e1fc;
$cl-blue: #2651ed;
$cl-dark-blue: #0b1142;
$cl-dark-text: #070452;
$cl-light-gray: #f2f2f7;
$cl-mid-gray: #656565;
$cl-secondary-text: #b7b7b7;
$cl-dark-gray: #222222;
$cl-black: #000000;
$cl-orange: #f7bc76;
$font-family-base: "Montserrat", sans-serif;
$cl-yellow: #f7bc76;
$cl-red: #ff6060;
$cl-purple: #58508d;
$cl-pink-purple: #bc5090;
$cl-orange-red: #ff6361;
$cl-light-yellow: #f8e74c;
$cl-soft-gray: #e0dfe8;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.soft-gray-border {
  border: 1px solid $cl-soft-gray;
}
.bg-dark-blue {
  background-color: $cl-dark-blue;
}
.bg-cl-dark-text {
  background-color: $cl-dark-text;
}
.bg-light-blue {
  background-color: $cl-light-blue;
}
.bg-light-gray {
  background-color: $cl-light-gray;
}
.bg-cl-blue {
  background-color: $cl-blue;
}
.bg-cl-white {
  background-color: $cl-white;
}
.bg-cl-purple {
  background-color: $cl-purple;
}
.bg-cl-pink-purple {
  background-color: $cl-pink-purple;
}
.bg-cl-orange-red {
  background-color: $cl-orange-red;
}
.bg-cl-light-yellow {
  background-color: $cl-light-yellow;
}
.cl-white {
  color: $cl-white;
}
.cl-translucent-white {
  color: $cl-translucent-white;
}
.cl-blue {
  color: $cl-blue;
}
.cl-mid-gray {
  color: $cl-mid-gray;
}
.cl-light-gray {
  color: $cl-light-gray;
}
.cl-dark-text {
  color: $cl-dark-text;
}
.cl-black {
  color: $cl-black;
}
.cl-yellow {
  color: $cl-yellow;
}
.cl-red {
  color: $cl-red;
}
.hover-pointer:hover {
  cursor: pointer;
}
.center-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-light-gray {
  background-color: $cl-light-gray;
}
.cl-btn-gray {
  @extend .cl-btn;
  color: $cl-dark-text;
  background-color: $cl-light-gray;
  border: 1px solid $cl-light-gray;
  &:hover,
  &:active:hover {
    box-shadow: none;
    background-color: rgba($color: $cl-light-gray, $alpha: 0.9);
    border-color: rgba($color: $cl-light-gray, $alpha: 0.9);
  }
}
.cl-btn-clear {
  @extend .cl-btn;
  transition: 200ms;
  color: $cl-dark-text;
  background-color: $cl-white;
  border: 1px solid $cl-dark-blue;
  &:hover,
  &:active:hover {
    box-shadow: none;
    color: $cl-white;
    background-color: rgba($color: $cl-dark-blue, $alpha: 0.9);
    border-color: rgba($color: $cl-white, $alpha: 0.9);
  }
}

.cl-btn-gray-selected {
  @extend .cl-btn-gray;
  background-color: $cl-orange;
  border: 1px solid $cl-orange;
  &:hover,
  &:active:hover {
    box-shadow: none;
    background-color: $cl-light-gray;
  }
}
.cl-btn {
  font-weight: 500;
  @include button-size(
    $padding-x: 1.5vw,
    $padding-y: 1.5vh,
    $font-size: 0.9em,
    $border-radius: 15px
  );
  box-shadow: none;
  &:active,
  &:focus,
  &:checked {
    box-shadow: none;
  }
  &:hover,
  &:active:hover {
    font-weight: 500;
    box-shadow: none;
    filter: brightness(130%);
  }
}

.cl-btn-blue {
  @extend .cl-btn;
  background-color: $cl-blue !important;
  color: white !important;
  border: 1px solid $cl-blue;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  @extend .px-3;
  @extend .py-3;
  border-radius: 15px;
  &:active,
  &:focus {
    box-shadow: none;
  }
}
h1 {
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none !important;
}
.general-submit-btn {
  @extend .cl-dark-text;
  @extend .py-2;
  @extend .px-4;
  font-weight: bold;
  outline: none;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: transparent;
  &:hover {
    background-color: $cl-light-blue;
  }
}

.footer {
  background-color: pink;
  margin-top: auto;
}

$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: $spacer,
  4: (
    $spacer * 1.5,
  ),
  5: (
    $spacer * 3,
  ),
  6: (
    $spacer * 5,
  ),
  7: (
    $spacer * 10,
  ),
);
.ms-05 {
  margin-left: 0.2vw;
}
.mx-05 {
  margin-left: 0.2vw;
  margin-right: 0.2vw;
}
.me-05 {
  margin-right: 0.2vw;
}

//GLOBAL DROPDOWN STYLES -->
.dropdown-container {
  position: relative;
  height: 5vh;
}

.dropdown-menu-custom {
  position: absolute;
  top: 130%;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.questionnaire-container {
  height: 80%;
}

.questionnaire-question {
  transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8); /* IE 9 */
  -webkit-transform: scale(0.8, 0.8); /* Safari and Chrome */
  -o-transform: scale(0.8, 0.8); /* Opera */
  -moz-transform: scale(0.8, 0.8); /* Firefox */
}
//NAV STYLES -->
.nav-regular {
  @extend .shadow-sm;
  @extend .navbar-light;
  color: $cl-blue !important;
  background-color: white;
}

.nav-transparent {
  @extend .navbar-dark;
  color: white;
  background-color: transparent;
}
