@import "../node_modules/bootstrap/scss/bootstrap";
@import "./globals.scss";

.mcq-answer-btn {
  @extend .py-3;
  @extend .cl-dark-text;
  @extend .my-2;
  @extend .ps-4;
  font-weight: bold;
  font-size: 1em;
  text-align: start;
  width: 90%;
  background-color: $cl-light-gray;
  outline: none;
  border-radius: 15px;
  border: 1px solid transparent;
  &:hover {
    background-color: rgba($color: $cl-mid-gray, $alpha: 0.2);
  }
}
.mcq-answer-btn-selected {
  @extend .mcq-answer-btn;
  background-color: $cl-orange;
  &:hover {
    background-color: $cl-orange;
  }
}
.checkbox-mcq-variant {
  @extend .mcq-answer-btn;
  @extend .px-4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox-mcq-variant-selected {
  @extend .checkbox-mcq-variant;
  background-color: $cl-orange;
  &:hover {
    background-color: $cl-orange;
  }
}
.checkbox-container {
  @extend .center-child;
  width: 2vw;
  height: 2vw;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 1vw;
  &:hover {
    background-color: rgba($color: $cl-mid-gray, $alpha: 0.2);
    cursor: pointer;
  }
  .checkbox {
    @extend .center-child;
    background-color: transparent;
    border: 3px solid $cl-mid-gray;
    height: 1vw;
    width: 1vw;
  }
  .checkbox-true {
    @extend .checkbox;
    background-color: $cl-blue;
    border-color: $cl-blue;
  }
}
//Question Summary Card COMPONENT STYLES -->
.qsummary-card-container {
  border: 1px solid $cl-secondary-text;
  border-radius: 20px;
  .question-text {
    @extend .cl-dark-text;
    font-weight: bold;
    font-size: 1.1em;
  }
  .icon-btn {
    background-color: transparent;
    outline: none;
    border: 1px solid transparent;
    width: 3.5em;
    height: 3.5em;
    border-radius: 1.75em;
    &:hover {
      background-color: rgba($color: $cl-light-gray, $alpha: 0.5);
    }
  }
}
//EC Editor COMPONENT STYLES -->
.ec-editor-btn-back {
  @extend .center-child;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 36px;
  padding: 20px;
  position: absolute;
  transition: background-color 200ms;
  top: 2vh;
  left: 2vw;
  width: 72px;
  height: 72px;
  &:hover {
    background-color: rgba($color: $cl-light-gray, $alpha: 0.5);
  }
}
//EC Dropdown COMPONENT STYLES -->
button[type="button"] {
  @extend .cl-mid-gray;
  @extend .px-3;
  @extend .py-3;
  border: 1px solid $cl-light-gray;
  background-color: $cl-light-gray;
  border-radius: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
  &:active,
  &:focus,
  &:checked {
    box-shadow: none;
    border: 1px solid $cl-light-gray;
    background-color: $cl-light-gray;
    @extend .cl-mid-gray;
  }
  &:hover,
  &:active:hover {
    box-shadow: none;
    border: 1px solid $cl-light-gray;
    background-color: $cl-light-gray;
    @extend .cl-mid-gray;
  }
}
ul[aria-labelledby="ec-dropdown-menu"] {
  li:first-of-type {
    border: 1px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  li:last-of-type {
    border: 1px solid transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08),
    0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03),
    0px 1px 3px rgba(19, 10, 46, 0.13);
  width: fit-content;
  li[class="dropdown-item"] {
    @extend .py-2;
    @extend .cl-dark-text;
    font-size: 0.95em;
    font-weight: 500;
    transition: background-color 200ms;
    &:active {
      @extend .bg-light-gray;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.dropdown-toggle[aria-expanded="true"] .caret {
  transform: rotate(180deg);
  transition: all ease 0.5s;
}
.dropdown-toggle .caret {
  transition: all ease 0.5s;
}
//EC Text Input COMPONENT STYLES -->
.ec-text-input {
  @extend .bg-light-gray;
  width: 100%;
  border: 1px solid $cl-light-gray;
  &:active,
  &:focus {
    @extend .bg-light-gray;
    border: 1px solid $cl-light-gray;
  }
}
