@import "node_modules/bootstrap/scss/bootstrap";
@import "src/common/styles/globals-styles.scss";

.pathway-description {
  @extend .pb-2;
  width: 90%;
  border-bottom: 1px solid rgba($color: $cl-mid-gray, $alpha: 0.7);
}
.bottom-border-pathway-filter {
  margin-bottom: calc($spacer * 0.5 - 1px);
}
